/* line 1, ../scss/components/_base.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 6, ../scss/components/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
}

/* line 13, ../scss/components/_base.scss */
.btn-success, .btn-block, .btn-sm, .btn-icon {
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
/* line 19, ../scss/components/_base.scss */
.btn-success.btn-success, .btn-block.btn-success, .btn-sm.btn-success, .btn-icon.btn-success {
  color: #FFF;
  border: 2px #AAFF00 solid;
  height: 22px;
  line-height: 20px;
  border-radius: 17px;
  padding: 0px 12px;
  background: transparent;
}
/* line 29, ../scss/components/_base.scss */
.btn-success.btn-success:hover, .btn-block.btn-success:hover, .btn-sm.btn-success:hover, .btn-icon.btn-success:hover {
  background: #AAFF00;
  color: #000;
}
/* line 35, ../scss/components/_base.scss */
.btn-success.btn-block, .btn-block.btn-block, .btn-sm.btn-block, .btn-icon.btn-block {
  background: #3DA0CC;
  width: 187px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  color: #FFF;
}
/* line 43, ../scss/components/_base.scss */
.btn-success.btn-block:hover, .btn-block.btn-block:hover, .btn-sm.btn-block:hover, .btn-icon.btn-block:hover {
  background: #3293BE;
}
/* line 48, ../scss/components/_base.scss */
.btn-success.btn-sm, .btn-block.btn-sm, .btn-sm.btn-sm, .btn-icon.btn-sm {
  width: 157px;
  height: 22px;
  text-align: center;
  color: #000;
  background: #FFF;
  border-radius: 17px;
}
/* line 56, ../scss/components/_base.scss */
.btn-success.btn-sm:hover, .btn-block.btn-sm:hover, .btn-sm.btn-sm:hover, .btn-icon.btn-sm:hover {
  background: #E6E6E6;
}
/* line 61, ../scss/components/_base.scss */
.btn-success.btn-icon, .btn-block.btn-icon, .btn-sm.btn-icon, .btn-icon.btn-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  background: #FFF;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
  line-height: 23px;
  color: #000;
}
/* line 74, ../scss/components/_base.scss */
.btn-success.btn-icon:hover, .btn-block.btn-icon:hover, .btn-sm.btn-icon:hover, .btn-icon.btn-icon:hover {
  background: #3DA0CC;
  color: #4A4A4A;
}

/* line 81, ../scss/components/_base.scss */
nav.navBar {
  background: #000;
  padding: 10px;
}
/* line 86, ../scss/components/_base.scss */
nav.navBar #logo {
  width: 115px;
  height: 25px;
}

/* line 92, ../scss/components/_base.scss */
aside.mainMenu {
  width: 188px;
  height: calc(100% - 50px);
  float: left;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
}
/* line 101, ../scss/components/_base.scss */
aside.mainMenu .sectionName {
  height: 35px;
  background: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  display: block;
  line-height: 35px;
  padding-left: 20px;
}
/* line 110, ../scss/components/_base.scss */
aside.mainMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 115, ../scss/components/_base.scss */
aside.mainMenu ul li {
  height: 30px;
  width: 100%;
  display: table;
  cursor: pointer;
  padding-left: 20px;
  box-sizing: border-box;
}
/* line 123, ../scss/components/_base.scss */
aside.mainMenu ul li > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 128, ../scss/components/_base.scss */
aside.mainMenu ul li:hover {
  background: rgba(255, 255, 255, 0.025);
}
/* line 132, ../scss/components/_base.scss */
aside.mainMenu ul li span {
  width: 80%;
  text-align: left;
  font-size: 12px;
}

/* line 141, ../scss/components/_base.scss */
section.mainContent {
  width: calc(100% - 188px);
  height: calc(100% - 50px);
  float: left;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  color: #FFF;
  box-sizing: border-box;
}
