/* line 1, ../scss/components/_base.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 6, ../scss/components/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background: #000;
}

/* line 11, ../scss/components/_base.scss */
.btn-success, .btn-block, .btn-sm, .btn-icon {
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
/* line 17, ../scss/components/_base.scss */
.btn-success.btn-success, .btn-block.btn-success, .btn-sm.btn-success, .btn-icon.btn-success {
  color: #FFF;
  border: 2px #AAFF00 solid;
  height: 22px;
  line-height: 20px;
  border-radius: 17px;
  padding: 0px 12px;
  background: transparent;
}
/* line 27, ../scss/components/_base.scss */
.btn-success.btn-success:hover, .btn-block.btn-success:hover, .btn-sm.btn-success:hover, .btn-icon.btn-success:hover {
  background: #AAFF00;
  color: #000;
}
/* line 33, ../scss/components/_base.scss */
.btn-success.btn-block, .btn-block.btn-block, .btn-sm.btn-block, .btn-icon.btn-block {
  background: #3DA0CC;
  width: 187px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  color: #FFF;
}
/* line 41, ../scss/components/_base.scss */
.btn-success.btn-block:hover, .btn-block.btn-block:hover, .btn-sm.btn-block:hover, .btn-icon.btn-block:hover {
  background: #3293BE;
}
/* line 46, ../scss/components/_base.scss */
.btn-success.btn-sm, .btn-block.btn-sm, .btn-sm.btn-sm, .btn-icon.btn-sm {
  width: 157px;
  height: 22px;
  text-align: center;
  color: #000;
  background: #FFF;
  border-radius: 17px;
}
/* line 54, ../scss/components/_base.scss */
.btn-success.btn-sm:hover, .btn-block.btn-sm:hover, .btn-sm.btn-sm:hover, .btn-icon.btn-sm:hover {
  background: #E6E6E6;
}
/* line 59, ../scss/components/_base.scss */
.btn-success.btn-icon, .btn-block.btn-icon, .btn-sm.btn-icon, .btn-icon.btn-icon {
  width: 16px;
  height: 16px;
  text-align: center;
  background: #FFF;
  border-radius: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 69, ../scss/components/_base.scss */
.btn-success.btn-icon:hover, .btn-block.btn-icon:hover, .btn-sm.btn-icon:hover, .btn-icon.btn-icon:hover {
  background: #3DA0CC;
}
/* line 73, ../scss/components/_base.scss */
.btn-success.btn-icon.icon-card, .btn-block.btn-icon.icon-card, .btn-sm.btn-icon.icon-card, .btn-icon.btn-icon.icon-card {
  background: url(/web/res/images/card-icon.svg);
}
