$colorWhite: #FFF;
$colorBlack: #000;

$colorGreyDark: #4A4A4A;
$colorGreyLight: #E6E6E6;

$colorRed: #FF4141;
$colorGreen: #AAFF00;
$colorPink: #D267C6;
$colorOrange: #EFAA42;
$colorBlue: #3DA0CC;
$colorBlueDark: #3293BE;