<article class="heading">
	<div class="strategyInfo">
		<div class="strategyIcon">		
		</div>
		<div class="strategyDetails">
			<span class="strategyName">Estrategianombre</span>
			<span class="strategyUser">
				Nombre de usuario
				<span class="badge" uib-dropdown>
					<span uib-dropdown-toggle>+2</span>
					<ul uib-dropdown-menu>
						<li ng-repeat="data in userData">
							<span class="name">
								<span class="icon {{ data.color }}"></span>
								<span>{{ data.name }}</span>
							</span>
							<span class="value">
								<i class="icon-owl"></i>
								<span>98,9</span>
							</span>
						</li>
						<li>+5. Go to user profile</li>
					</ul>
				</span>
			</span>
		</div>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra odio in consequat feugiat. Pellentesque vitae sagittis nulla. Nullam eu nulla fermentum, placerat purus eu, eleifend sem. Nunc imperdiet vestibulum.
	</p>
</article>
<hr />
<div class="optionsBar">
	<span class="option optionBtn" ng-class="{ selected: listMode === 'list' }"
		ng-click="listMode = 'list';">
		<i class="icon-list"></i>
	</span>
	<span class="option optionBtn" ng-class="{selected: listMode === 'card'}"
		ng-click="listMode = 'card';">
		<i class="icon-card"></i>
	</span>
	<div class="option">
		<span>In Portfolio</span>
		<span>&nbsp;</span>
		<div class="switch" ng-class="{ checked: inPortfolio }" 
			ng-click="inPortfolio = !inPortfolio"></div>
	</div>	
	<span class="separator"></span>
	<span class="option right dropdown" uib-dropdown>
		<span class="separator"></span>
		<span uib-dropdown-toggle>
			Order by Return
			<i class="glyphicon glyphicon-chevron-down"></i>
		</span>
		<ul uib-dropdown-menu>
			<li>Inversión</li>
			<li>Retorno</li>
			<li>Dawnscore</li>
			<li>D-Score</li>
		</ul>
	</span>
</div>
<br />
<div class="carouselActions pull-right" ng-show="listMode === 'card'">
	<span class="btn-icon dark" ng-click="moveCarousel('left')">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</span>
	<span class="btn-icon dark" ng-click="moveCarousel('right')">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</span>
</div>
<span>{{ darwins.length }} darwins encontrados</span>

<br /><br />
<section class="darwinsCarousel" ng-scrollbars ng-scrollbars-config="scrollBarConfig">
	<div class="darwinsContainer" 
		style="width: {{ listMode === 'card' ? (darwins.length * 265) + 'px' : '100%' }}; margin-left: -{{ carouselIndex * 265 }}px;">
		<darwin ng-repeat="darwin in darwins" data-value="darwin" mode="listMode"></darwin>
	</div>
</section>